.button {
  background: linear-gradient(to right, #7f00ff, #e100ff);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
}
.buttonn {
  background: linear-gradient(to right, #00c853, #64dd17);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
}
.buttonnn {
  background: linear-gradient(to right, #ff7e00, #ff3d00);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
}